{% extends "base.njk" %} {% block contentmeta %} 94 FT Player Development |
{{ title }}
{% endblock contentmeta %} {% block content %}
<div class="hero-no-image-3">
  <div
    class="image-wrapper-6"
    style="background-image: url('{{ backgroundimg }}');"
  >
    <div class="content-15">
      <div class="headings-hero-6">{{ heading }}</div>
    </div>
  </div>
</div>
<div class="hero-heading-left-4">
  <div class="container-8">
    <div class="small-container-8">
      <div class="content-16">
        <div class="column-14">
          <div class="headings-heading-28">DESCRIPTION</div>
          <div class="error-83c1554f-f4c7-0c7f-56e4-421f432a74ef">
            {{ description }}
          </div>
        </div>
        <div class="column-15">
          <div class="headings-heading-28">FEATURES</div>
          <div class="body-body---normal-14">UNIT AMENITIES</div>
          <ul role="list">
            <li>{{ featuresUnitAmenities.list1 }}</li>
            <li>{{ featuresUnitAmenities.list2 }}</li>
            <li>{{ featuresUnitAmenities.list3 }}</li>
            <li>{{ featuresUnitAmenities.list4 }}</li>
            <li>{{ featuresUnitAmenities.list5 }}</li>
            <li>{{ featuresUnitAmenities.list6 }}</li>
            <li>{{ featuresUnitAmenities.list7 }}</li>
            <li>{{ featuresUnitAmenities.list8 }}</li>
            <li>{{ featuresUnitAmenities.list9 }}</li>
            <li>{{ featuresUnitAmenities.list10 }}</li>
            <li>{{ featuresUnitAmenities.list11 }}</li>
            <li>{{ featuresUnitAmenities.list12 }}</li>
          </ul>
        </div>
        <div class="column-17">
          <div class="headings-heading-28">ADDITIONAL INFORMATION</div>
          <div class="text-6">
            <div class="text-6 text-6">
              <span class="application-fee-40-0">Rental Fee:</span
              ><span class="application-fee-40-1">{{additionalInformation.rentalfee}} </span>
            </div>
          </div>
          <div class="text-6">
            <div class="text-6">
              <span class="application-fee-40-0">Security Deposit:</span
              ><span class="application-fee-40-1">
              {{additionalInformation.securitydepo}} </em></span
              >
            </div>
          </div>
        </div>
        <div class="column-18">
          <div class="or-send-us-a-dm">OR SEND US A DM</div>
          <div class="social-links">
            <a
              href="https://www.instagram.com/94ftbball/?hl=en"
              class="w-inline-block"
              ><img
                src="/assets/images/Vectors-Wrapper_18.svg"
                loading="lazy"
                width="24"
                height="24"
                alt=""
                class="vectors-wrapper-9"
            /></a>
            <a
              href="https://x.com/ayeeeegeeee?s=11&amp;t=Fne-q40w1T259ap3X2GGqw"
              class="w-inline-block"
              ><img
                src="/assets/images/Vectors-Wrapper_19.svg"
                loading="lazy"
                width="24"
                height="24"
                alt=""
                class="vectors-wrapper-9"
            /></a>
            <a
              href="https://www.linkedin.com/in/amber-gregg-02b87121b?utm_source=share&amp;utm_campaign=share_via&amp;utm_content=profile&amp;utm_medium=ios_app"
              class="w-inline-block"
              ><img
                src="/assets/images/Vectors-Wrapper_20.svg"
                loading="lazy"
                width="24"
                height="24"
                alt=""
                class="vectors-wrapper-9"
            /></a>
            <a
              href="https://www.facebook.com/94FTBBALL?mibextid=LQQJ4d"
              class="w-inline-block"
              ><img
                src="/assets/images/Vectors-Wrapper_17.svg"
                loading="lazy"
                width="24"
                height="24"
                alt=""
                class="vectors-wrapper-9"
            /></a>
            <a
              href="mailto:94ftbball@gmail.com?subject=Hello!"
              class="w-inline-block"
              ><img
                src="/assets/images/Vectors-Wrapper_16.svg"
                loading="lazy"
                width="26.191162109375"
                height="26.191162109375"
                alt=""
                class="vectors-wrapper-10"
            /></a>
          </div>
        </div>
      </div>
      <div class="form-wrapper w-form">
        <form
          id="webflow-form"
          name="webflow-form"
          data-name="Webflow Form"
          method="get"
          class="form"
          data-wf-page-id="65518cba9af0d6e6f9d924ce"
          data-wf-element-id="5d3d97f5-44a8-87dd-10ce-020de5f69f24"
        >
          <div class="input-wrapper">
            <label for="name" class="input-label">First Name</label
            ><input
              type="text"
              class="form-text-input w-input"
              maxlength="256"
              name="name"
              data-name="Name"
              placeholder=""
              id="name"
            />
          </div>
          <div class="input-wrapper">
            <label for="name" class="input-label">Last Name</label
            ><input
              type="text"
              class="form-text-input w-input"
              maxlength="256"
              name="name"
              data-name="Name"
              placeholder=""
              id="name"
            />
          </div>
        </form>
        <form
          id="webflow-form"
          name="webflow-form"
          data-name="Webflow Form"
          method="get"
          class="form-2"
          data-wf-page-id="65518cba9af0d6e6f9d924ce"
          data-wf-element-id="5d3d97f5-44a8-87dd-10ce-020de5f69f2d"
        >
          <div class="input-wrapper">
            <label for="name" class="input-label">Your Email Address</label
            ><input
              type="text"
              class="form-text-input w-input"
              maxlength="256"
              name="name"
              data-name="Name"
              placeholder=""
              id="name"
            />
          </div>
          <div class="input-wrapper">
            <label for="name" class="input-label">Message</label
            ><textarea
              placeholder=""
              maxlength="5000"
              id="field"
              name="field"
              data-name="Field"
              class="form-textarea w-input"
            ></textarea>
          </div>
          <input
            type="submit"
            value="Send message"
            data-wait="Please wait..."
            class="form-button w-button"
          />
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
