{% extends "base.njk" %} {% block contentmeta %} 94 FT Player Development |
{{ title }}
{% endblock contentmeta %} {% block content %}
<div
  class="image-wrapper-contact-hero"
  style="background-image: url('{{ backgroundimg }}');"
>
  <div class="content-9">
    <div class="headings-hero-4">{{ heading }}</div>
  </div>
</div>
<section class="section"></section>
<div class="hero-heading-left-4">
  <div class="container-8">
    <div class="small-container-8">
      <div class="content-14">
        <div class="column-10">
          <div class="headings-heading-26">DROP US A LINE</div>
          <div class="body-body---normal-13">
            Let us know how we can be of help
          </div>
        </div>
        <div class="form-wrapper w-form">
          <form
            id="webflow-form"
            name="webflow-form"
            data-name="Webflow Form"
            method="get"
            class="form"
            data-wf-page-id="655189978009cb2c99206f01"
            data-wf-element-id="0d5ad430-2282-a898-e5d7-82dfb88f61a2"
          >
            <div class="input-wrapper">
              <label for="name" class="input-label">First Name</label
              ><input
                type="text"
                class="form-text-input w-input"
                maxlength="256"
                name="name"
                data-name="Name"
                placeholder=""
                id="name"
              />
            </div>
            <div class="input-wrapper">
              <label for="name" class="input-label">Last Name</label
              ><input
                type="text"
                class="form-text-input w-input"
                maxlength="256"
                name="name"
                data-name="Name"
                placeholder=""
                id="name"
              />
            </div>
          </form>
          <form
            id="webflow-form"
            name="webflow-form"
            data-name="Webflow Form"
            method="get"
            class="form-2"
            data-wf-page-id="655189978009cb2c99206f01"
            data-wf-element-id="0d5ad430-2282-a898-e5d7-82dfb88f61ab"
          >
            <div class="input-wrapper">
              <label for="name" class="input-label">Your Email Address</label
              ><input
                type="text"
                class="form-text-input w-input"
                maxlength="256"
                name="name"
                data-name="Name"
                placeholder=""
                id="name"
              />
            </div>
            <div class="input-wrapper">
              <label for="name" class="input-label">Message</label
              ><textarea
                placeholder=""
                maxlength="5000"
                id="field"
                name="field"
                data-name="Field"
                class="form-textarea w-input"
              ></textarea>
            </div>
            <input
              type="submit"
              value="Send message"
              data-wait="Please wait..."
              class="form-button w-button"
            />
          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
        <div class="column-11">
          <div class="text-4">FOLLOW US ON</div>
          <div class="social-links">
            <a
              href="https://www.instagram.com/94ftbball/?hl=en"
              class="w-inline-block"
              ><img
                src="/assets/images/Vectors-Wrapper_18.svg"
                loading="lazy"
                width="24"
                height="24"
                alt=""
                class="vectors-wrapper-9"
            /></a>
            <a
              href="https://x.com/ayeeeegeeee?s=11&amp;t=Fne-q40w1T259ap3X2GGqw"
              class="w-inline-block"
              ><img
                src="/assets/images/Vectors-Wrapper_19.svg"
                loading="lazy"
                width="24"
                height="24"
                alt=""
                class="vectors-wrapper-9"
            /></a>
            <a
              href="https://www.linkedin.com/in/amber-gregg-02b87121b?utm_source=share&amp;utm_campaign=share_via&amp;utm_content=profile&amp;utm_medium=ios_app"
              class="w-inline-block"
              ><img
                src="/assets/images/Vectors-Wrapper_20.svg"
                loading="lazy"
                width="24"
                height="24"
                alt=""
                class="vectors-wrapper-9"
            /></a>
            <a
              href="https://www.facebook.com/94FTBBALL?mibextid=LQQJ4d"
              class="w-inline-block"
              ><img
                src="/assets/images/Vectors-Wrapper_17.svg"
                loading="lazy"
                width="24"
                height="24"
                alt=""
                class="vectors-wrapper-9"
            /></a>
            <a
              href="mailto:94ftbball@gmail.com?subject=Hello!"
              class="w-inline-block"
              ><img
                src="/assets/images/Vectors-Wrapper_16.svg"
                loading="lazy"
                width="26.191162109375"
                height="26.191162109375"
                alt=""
                class="vectors-wrapper-10"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contact-suppot">
  <div class="columns-7">
    <div class="metric-9">
      <img
        src="/assets/images/Vectors-Wrapper_24.svg"
        loading="lazy"
        width="70"
        height="70"
        alt=""
        class="vectors-wrapper-13"
      />
      <div class="headings-heading-24">EMAIL SUPPORT</div>
      <div class="body-body---normal-12">Chat us up for help</div>
      <div class="text-3">94ftbball@gmail.com</div>
    </div>
    <div class="metric-9">
      <img
        src="/assets/images/Vectors-Wrapper_25.svg"
        loading="lazy"
        width="70"
        height="70"
        alt=""
        class="vectors-wrapper-13"
      />
      <div class="headings-heading-24">CALL US</div>
      <div class="body-body---normal-12">Monday — Friday from 10:00 - 8:00</div>
      <div class="footer-links-5">
        <div class="text-3">(337) 326-0833</div>
      </div>
    </div>
    <div class="metric-9">
      <img
        src="/assets/images/Vectors-Wrapper_26.svg"
        loading="lazy"
        width="70"
        height="70"
        alt=""
        class="vectors-wrapper-13"
      />
      <div class="headings-heading-24">VISIT US</div>
      <div class="body-body---normal-12">Visit our gym</div>
      <div class="footer-links-6">
        <div class="text-3">212 N Luke Street, Lafayette, LA 70506</div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
