<div class="footer">
  <div class="columns-6">
    <div class="small-columns">
      <div class="column-4">
        <div class="content-7">
          <div class="footer-links">
            <img
              src="/assets/images/Vectors-Wrapper_12.svg"
              loading="lazy"
              width="24"
              height="24"
              alt=""
              class="vectors-wrapper-9"
            />
            <div class="body-body---normal-8">
              {{ address }}
            </div>
          </div>
          <div class="footer-links">
            <img
              src="/assets/images/Vectors-Wrapper_13.svg"
              loading="lazy"
              width="24"
              height="24"
              alt=""
              class="vectors-wrapper-9"
            />
            <div class="body-body---normal-8">{{ time }}</div>
          </div>
        </div>
        <div class="content-8">
          <div class="footer-links-2">
            <img
              src="/assets/images/Vectors-Wrapper_14.svg"
              loading="lazy"
              width="24"
              height="24"
              alt=""
              class="vectors-wrapper-9"
            />
            <div class="body-body---normal-8">94ftbball@gmail.com</div>
          </div>
          <div class="footer-links-3">
            <img
              src="/assets/images/Vectors-Wrapper_15.svg"
              loading="lazy"
              width="24"
              height="24"
              alt=""
              class="vectors-wrapper-9"
            />
            <div class="body-body---normal-8">(337) 326-0833</div>
          </div>
        </div>
      </div>
    </div>
    <div class="column-5">
      <div class="text-2">FOLLOW US ON</div>
      <div class="social-links">
        <a
          href="https://www.instagram.com/94ftbball/?hl=en"
          class="w-inline-block"
          ><img
            src="/assets/images/Vectors-Wrapper_18.svg"
            loading="lazy"
            width="24"
            height="24"
            alt=""
            class="vectors-wrapper-9"
        /></a>
        <a
          href="https://x.com/ayeeeegeeee?s=11&amp;t=Fne-q40w1T259ap3X2GGqw"
          class="w-inline-block"
          ><img
            src="/assets/images/Vectors-Wrapper_19.svg"
            loading="lazy"
            width="24"
            height="24"
            alt=""
            class="vectors-wrapper-9"
        /></a>
        <a
          href="https://www.linkedin.com/in/amber-gregg-02b87121b?utm_source=share&amp;utm_campaign=share_via&amp;utm_content=profile&amp;utm_medium=ios_app"
          class="w-inline-block"
          ><img
            src="/assets/images/Vectors-Wrapper_20.svg"
            loading="lazy"
            width="24"
            height="24"
            alt=""
            class="vectors-wrapper-9"
        /></a>
        <a
          href="https://www.facebook.com/94FTBBALL?mibextid=LQQJ4d"
          class="w-inline-block"
          ><img
            src="/assets/images/Vectors-Wrapper_17.svg"
            loading="lazy"
            width="24"
            height="24"
            alt=""
            class="vectors-wrapper-9"
        /></a>
        <a
          href="mailto:94ftbball@gmail.com?subject=Hello!"
          class="w-inline-block"
          ><img
            src="/assets/images/Vectors-Wrapper_16.svg"
            loading="lazy"
            width="26.191162109375"
            height="26.191162109375"
            alt=""
            class="vectors-wrapper-10"
        /></a>
      </div>
    </div>
  </div>
</div>
<div class="copyright">
  <div class="body-mini-body---normal-2">
    Copyright © 2023 94FT PLAYER DEVELOPMENT. <br />Designed by
    <a href="http://apperr.com" class="link-2">Apperr Designs</a>
  </div>
  <div class="column-6">
    <div class="footer-links-4">
      <div class="body-xmini-body---bold">Terms &amp; Conditions</div>
      <div class="link">|</div>
      <div class="body-xmini-body---bold">Privacy Policy</div>
    </div>
  </div>
</div>
