{% extends "base.njk" %} {% block contentmeta %} 94 FT Player Development |
{{ title }}
{% endblock contentmeta %} {% block content %}

<div
  class="hero-no-image"
  style="background-image: url('{{ hero.bg }}'); background-position: center ;"
>
  <div class="image-wrapper">
    <div class="content" data-ix="hero-show">
      <div class="headings-hero">
        {{ hero.firstTitlepara }} <br />{{ hero.secondTitlepara }}
      </div>
      <div class="body-body---normal">
        {{ hero.Para }}
      </div>
      <a
        href="/ways-to-train-94-ft-player-deployment"
        target="_blank"
        class="button"
      >
        <div class="button---normal">GET STARTED</div>
      </a>
    </div>
  </div>
</div>
<div class="mission">
  <div class="hero-heading-left">
    <div class="container-3">
      <div class="content-2" data-ix="left-fly-in">
        <div class="mission-heading">
          <div class="headings-heading-1 headings-heading-1">
            <span class="headings-heading-4">OUR </span
            ><span class="headings-heading-5">MISSION</span>
          </div>
        </div>
        <div class="body-body---bold">{{ OurMission.heading }}</div>
        <div class="column">
          <div class="headings-hero-2">“</div>
          <div class="body-body---normal-3">
            {{ OurMission.paragraph }}
          </div>
          <div class="headings-hero-2-copy">“</div>
        </div>
        <a
          href="/ways-to-train-94-ft-player-deployment"
          target="_blank"
          class="button-2"
        >
          <div class="button---normal-3">JOIN US NOW</div>
        </a>
      </div>
      <div class="column-2">
        <div class="image-wrapper-2">
          <img
            class="image-2"
            src="{{ OurMission.missionimage }}"
            width="560"
            height="409"
            alt=""
            sizes="(max-width: 479px) 100vw, (max-width: 991px) 87vw, 41vw"
            data-ix="new-interaction-2"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section-2">
  <div class="w-layout-blockcontainer container-4 w-container">
    <div class="grid-contain">
      {%- for services in collections.services -%}

      <div class="metric">
        <img
          src="{{ services.data.img }}"
          loading="lazy"
          width="70"
          height="70"
          alt=""
          class="vectors-wrapper-2"
        />
        <div class="headings-heading-3">{{ services.data.title }}</div>
        <div class="body-body---normal-2">
          {{ services.data.description }}
        </div>
      </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>
<div class="features-metrics">
  <div class="content-3">
    <div class="headings-heading-6">WAYS 94ft TRAIN</div>
  </div>
  <div class="small-container-2">
    <div class="columns-2">
      <div class="metric-3">
        <img
          src="/assets/images/Vectors-Wrapper_5.svg"
          loading="lazy"
          width="118.54839324951172"
          height="70"
          alt=""
          class="vectors-wrapper-4"
        />
        <div class="headings-heading-7">PRIVATE/SMALL GROUP TRAINING</div>
        <div class="body-body---normal-4">
          Address your weaknesses either individually or in a small group,
          concentrating on areas for a player&#x27;s improvement. Choose between
          personalized 1-on-1 sessions or groups ranging from 2 to 6 players.
        </div>
        <a
          href="/ways-to-train-94-ft-player-deployment"
          target="_blank"
          class="button-3"
        >
          <div class="button---normal-4">LEARN MORE</div>
          <img
            src="/assets/images/Vectors-Wrapper_6.svg"
            loading="lazy"
            width="24"
            height="24"
            alt=""
            class="vectors-wrapper-5"
          />
        </a>
      </div>
      <div class="metric-3">
        <img
          src="/assets/images/Vectors-Wrapper_7.svg"
          loading="lazy"
          width="70"
          height="70"
          alt=""
          class="vectors-wrapper-6"
        />
        <div class="headings-heading-7">TRAINING CLASSES</div>
        <div class="body-body---normal-4">
          Enhance your skills through participation in our group training
          classes, emphasizing shooting, finishing, ball handling, footwork, and
          various other essential aspects of the game!
        </div>
        <a
          href="/ways-to-train-94-ft-player-deployment"
          target="_blank"
          class="button-3"
        >
          <div class="button---normal-4">LEARN MORE</div>
          <img
            src="/assets/images/Vectors-Wrapper_6.svg"
            loading="lazy"
            width="24"
            height="24"
            alt=""
            class="vectors-wrapper-5"
          />
        </a>
      </div>
    </div>
  </div>
</div>
<div class="train-94-cta-mobile">
  <div class="headings-heading-8">train with 94ft</div>
  <a
    href="/ways-to-train-94-ft-player-deployment"
    target="_blank"
    class="button-4"
  >
    <div class="button---normal-5">START TRAINING</div>
  </a>
</div>
<div class="mission-5">
  <div class="content-17">
    <div class="headings-heading-32">train with 94ft</div>
    <div class="headings-heading-8">train with 94ft</div>
    <a
      href="/ways-to-train-94-ft-player-deployment"
      target="_blank"
      class="button-9"
    >
      <div class="button---normal-13">START TRAINING</div>
    </a>
  </div>
  <div class="mission-6">
    <div class="small-container-9">
      <div class="columns-12">
        <div class="metric-11">
          <img
            src="/assets/images/94FT-1-1.png"
            loading="lazy"
            width="50"
            height="50"
            alt=""
            class="_94ft-1-1"
          />
          <div class="headings-heading-33">Shooting Lab</div>
          <div class="body-body---normal-17">
            Specialized lab for refining shooting fundamentals techniques.
          </div>
        </div>
        <div class="metric-11">
          <img
            src="/assets/images/94FT-1-1.png"
            loading="lazy"
            width="50"
            height="50"
            alt=""
            class="_94ft-1-1"
          />
          <div class="headings-heading-33">Skill Lab</div>
          <div class="body-body---normal-17">
            Full skill development: handle, shoot, defend, attack. Detailed
            Skill Development Concepts
          </div>
        </div>
        <div class="metric-11">
          <img
            src="/assets/images/94FT-1-1.png"
            loading="lazy"
            width="50"
            height="50"
            alt=""
            class="_94ft-1-1"
          />
          <div class="headings-heading-33">Open Runs</div>
          <div class="body-body---normal-17">
            Structured 3v3. Develop. Compete. Build IQ<br /><br />
          </div>
        </div>
        <div class="metric-11">
          <img
            src="/assets/images/94FT-1-1.png"
            loading="lazy"
            width="50"
            height="50"
            alt=""
            class="_94ft-1-1"
          />
          <div class="headings-heading-33">Jr Skill Lab</div>
          <div class="body-body---normal-17">
            K-5 skill lab Master the fundamentals: ball handling, footwork,
            passing, and defense.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="testimonial-column-light">
  <div class="headings-heading-10">
    <div class="headings-heading-10 headings-heading-10">
      <span class="headings-heading-11">Testimonials</span>
    </div>
  </div>
  <div class="columns-4">
    <div class="column-3">
      <div class="content-5">
        <div class="column-3">
          <div class="text">
            <div class="info">
              <div class="headings-hero-3">“</div>
            </div>
          </div>
          <div class="text">
            <div class="info">
              <div class="body-mini-body---normal">
                My son has not only developed as a basketball player, but as a
                person. From communication to leadership. 94FT has been more
                than just a training facility<br /><br /><br />‍
              </div>
            </div>
          </div>
          <div class="author"></div>
          <div class="text">
            <div class="info">
              <div class="body-body---normal-6">
                -Bryson “Cupid” Bernard<br />‍
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column-3">
      <div class="content-5">
        <div class="column-3">
          <div class="text">
            <div class="info">
              <div class="headings-hero-3">“</div>
            </div>
          </div>
          <div class="text">
            <div class="info">
              <div class="body-mini-body---normal">
                Training with Amber is a gift from the basketball Gods! She
                breaks down every skill you have or think you have and make it
                much more better. Every drill and movement is calculated so no
                time is waisted she holds you accountable for everything you
                do.<br />‍
              </div>
            </div>
          </div>
          <div class="author"></div>
          <div class="text">
            <div class="info">
              <div class="body-body---normal-6">
                -Justin Roberson - Overseas Pro (Samara - Russia)
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column-3">
      <div class="content-5">
        <div class="column-3">
          <div class="text">
            <div class="info">
              <div class="headings-hero-3">“</div>
            </div>
          </div>
          <div class="text">
            <div class="info">
              <div class="body-mini-body---normal">
                Training with amber is really good , great work , she knows the
                game breaks it down and pushes you everyday . Training with
                amber has impacted my game by helping me read the floor better ,
                instead of just playing fast , Now I play with better pace.
              </div>
            </div>
          </div>
          <div class="author"></div>
          <div class="text">
            <div class="info">
              <div class="body-body---normal-6">
                -Kalob Ledoux - NBA G League (Stockton Kings)
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="count-rental-cta-mobile">
  <div class="headings-heading-14">94FT COURT RENTAL</div>
  <div class="body-body---normal-7">
    Book us for your on court activities with 94ft!
  </div>
  <a href="/book-with-94-ft-player-deployment" target="_blank" class="button-5">
    <div class="button---normal-6">BOOK NOW</div>
  </a>
</div>
<div class="_94-ft-court-rental">
  <div class="small-container-4">
    <div class="columns-5">
      <div class="sectioncourtrentalicons">
        <img
          src="/assets/images/Vectors-Wrapper_8.svg"
          loading="lazy"
          width="50"
          height="50"
          alt=""
          class="vectors-wrapper-7"
        />
        <div class="body-mini-body---bold">Birthday Party</div>
      </div>
      <div class="sectioncourtrentalicons">
        <img
          src="/assets/images/Vectors-Wrapper_9.svg"
          loading="lazy"
          width="50"
          height="50"
          alt=""
          class="vectors-wrapper-7"
        />
        <div class="body-mini-body---bold">Pick Up Games</div>
      </div>
      <div class="sectioncourtrentalicons">
        <img
          src="/assets/images/Vectors-Wrapper_10.svg"
          loading="lazy"
          width="50"
          height="50"
          alt=""
          class="vectors-wrapper-7"
        />
        <div class="body-mini-body---bold">Team Practice</div>
      </div>
      <div class="sectioncourtrentalicons">
        <img
          src="/assets/images/Vectors-Wrapper_11.svg"
          loading="lazy"
          width="34.6875"
          height="50"
          alt=""
          class="vectors-wrapper-8"
        />
        <div class="body-mini-body---bold">Team Building</div>
      </div>
      <div class="metric-7">
        <div class="headings-heading-13">and many more!!</div>
      </div>
    </div>
  </div>
  <div class="count-rental-cta-desktop">
    <div class="headings-heading-14">94FT COURT RENTAL</div>
    <div class="body-body---normal-7">
      Book us for your on court activities with 94ft!
    </div>
    <a
      href="/book-with-94-ft-player-deployment"
      target="_blank"
      class="button-5"
    >
      <div class="button---normal-6">BOOK NOW</div>
    </a>
  </div>
</div>
<section class="section">
  <div class="headings-heading-1">
    <div class="follow-us-in-ig">
      <span class="headings-heading-4">#94FT on </span
      ><span class="headings-heading-5">Instagram</span>
    </div>
  </div>
  <div class="w-embed w-script">
    <script
      src="https://static.elfsight.com/platform/platform.js"
      data-use-service-core=""
      defer=""
    ></script>
    <div
      class="elfsight-app-da3b951b-6f47-4297-8246-30269d55ca74"
      data-elfsight-app-lazy=""
    ></div>
  </div>
</section>
{% endblock content %}
