{% extends "base.njk" %} {% block contentmeta %} 94 FT Player Development |
{{ title }}
{% endblock contentmeta %} {% block content %}

<div
  class="hero-no-image"
  style="background-image: url('{{ hero.bg }}'); background-position: center ;"
>
  <div class="image-wrapper">
    <div class="content" data-ix="hero-show">
      <div class="headings-hero">
        {{ hero.firstTitlepara }} <br />{{ hero.secondTitlepara }}
      </div>
      <div class="body-body---normal">
        {{ hero.Para }}
      </div>
      <a
        href="/ways-to-train-94-ft-player-deployment"
        target="_blank"
        class="button"
      >
        <div class="button---normal">GET STARTED</div>
      </a>
    </div>
  </div>
</div>
<div class="mission">
  <div class="hero-heading-left">
    <div class="container-3">
      <div class="content-2" data-ix="left-fly-in">
        <div class="mission-heading">
          <div class="headings-heading-1 headings-heading-1">
            <span class="headings-heading-4">OUR </span
            ><span class="headings-heading-5">MISSION</span>
          </div>
        </div>
        <div class="body-body---bold">{{ OurMission.heading }}</div>
        <div class="column">
          <div class="headings-hero-2">“</div>
          <div class="body-body---normal-3">
            {{ OurMission.paragraph }}
          </div>
          <div class="headings-hero-2-copy">“</div>
        </div>
        <a
          href="/ways-to-train-94-ft-player-deployment"
          target="_blank"
          class="button-2"
        >
          <div class="button---normal-3">JOIN US NOW</div>
        </a>
      </div>
      <div class="column-2">
        <div class="image-wrapper-2">
          <img
            class="image-2"
            src="{{ OurMission.missionimage }}"
            width="560"
            height="409"
            alt=""
            sizes="(max-width: 479px) 100vw, (max-width: 991px) 87vw, 41vw"
            data-ix="new-interaction-2"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section-2">
  <div class="w-layout-blockcontainer container-4 w-container">
    <div class="grid-contain">
      {%- for services in collections.services -%}

      <div class="metric">
        <img
          src="{{ services.data.img }}"
          loading="lazy"
          width="70"
          height="70"
          alt=""
          class="vectors-wrapper-2"
        />
        <div class="headings-heading-3">{{ services.data.title }}</div>
        <div class="body-body---normal-2">
          {{ services.data.description }}
        </div>
      </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>
<div class="features-metrics">
  <div class="content-3">
    <div class="headings-heading-6">{{ways94thTrain.title}}</div>
  </div>
  <div class="small-container-2">
    <div class="columns-2">
      {%- for ways in collections.ways -%}
      <div class="metric-3">

        <img
          src="{{ways.data.img}}"
          loading="lazy"
          width="118.54839324951172"
          width="70"
          height="70"
          alt=""
          class="vectors-wrapper-6"
        />
        <div class="headings-heading-7">{{ways.data.title}}</div>
        <div class="body-body---normal-4">
          {{ways.data.bodytext}}
        </div>
        <a
          href="/ways-to-train-94-ft-player-deployment"
          target="_blank"
          class="button-3"
        >
          <div class="button---normal-4">{{ways.data.linktext}}</div>
          <img
            src="/assets/images/Vectors-Wrapper_6.svg"
            loading="lazy"
            width="24"
            height="24"
            alt=""
            class="vectors-wrapper-5"
          />
        </a>
      </div>
      {%- endfor -%}
    </div>
  </div>
</div>
<div class="train-94-cta-mobile">
  <div class="headings-heading-8">{{trainwith94ft.title}}</div>
  <a
    href="/ways-to-train-94-ft-player-deployment"
    target="_blank"
    class="button-4"
  >
    <div class="button---normal-5">{{trainwith94ft.btnText}}</div>
  </a>
</div>
<div class="mission-5">
  <div class="content-17">
    <div class="headings-heading-32">{{trainwith94ft.title}}</div>
    <div class="headings-heading-8">{{trainwith94ft.title}}</div>
    <a
      href="/ways-to-train-94-ft-player-deployment"
      target="_blank"
      class="button-9"
    >
      <div class="button---normal-13">{{trainwith94ft.btnText}}</div>
    </a>
  </div>
  <div class="mission-6">
    <div class="small-container-9">
      <div class="columns-12">
        {% for homefeatures in collections.homefeatures %}
        <div
          id="w-node-b2a2dd81-8c52-df55-1771-36eaee643137-c0d9767b"
          class="w-layout-cell"
        >
          <div class="metric-10">
            <img
              src="/assets/images/94FT-1-1.png"
              loading="lazy"
              width="50"
              height="50"
              alt=""
              class="_94ft-1-1"
            />
            <div class="headings-heading-30">{{ homefeatures.data.title }}</div>
            <div class="body-body---normal-16">
              {{ homefeatures.data.bodytext }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="testimonial-column-light">
  <div class="headings-heading-10">
    <div class="headings-heading-10 headings-heading-10">
      <span class="headings-heading-11">{{testimonials.heading}}</span>
    </div>
  </div>
  <div class="columns-4">
    {% for testimonials in collections.testimonials %}
    <div class="column-3">
      <div class="content-5">
        <div class="column-3">
          <div class="text">
            <div class="info">
              <div class="headings-hero-3">“</div>
            </div>
          </div>
          <div class="text">
            <div class="info">
              <div class="body-mini-body---normal">
                {{testimonials.data.testimony}}‍
              </div>
            </div>
          </div>
          <div class="author"></div>
          <div class="text">
            <div class="info">
              <div class="body-body---normal-6">
                {{testimonials.data.testifier}}<br />‍
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="count-rental-cta-mobile">
  <div class="headings-heading-14">{{94ftcourtrental.heading}}</div>
  <div class="body-body---normal-7">
    {{94ftcourtrental.textBody}}
  </div>
  <a href="/book-with-94-ft-player-deployment" target="_blank" class="button-5">
    <div class="button---normal-6"> {{94ftcourtrental.btnText}}</div>
  </a>
</div>
<div class="_94-ft-court-rental">
  <div class="small-container-4">
    <div class="columns-5">
      {% for rentallists in collections.rentallists %}
      <div class="sectioncourtrentalicons">
        <img
          src="{{rentallists.data.img}}"
          loading="lazy"
          width="50"
          height="50"
          alt=""
          class="vectors-wrapper-7"
        />
        <div class="body-mini-body---bold">{{rentallists.data.text}}</div>
      </div>
      {% endfor %}
      <div class="metric-7">
        <div class="headings-heading-13">and many more!!</div>
      </div>
    </div>
  </div>
  <div class="count-rental-cta-desktop">
    <div class="headings-heading-14">{{94ftcourtrental.heading}}</div>
    <div class="body-body---normal-7">
      {{94ftcourtrental.textBody}}
    </div>
    <a
      href="/book-with-94-ft-player-deployment"
      target="_blank"
      class="button-5"
    >
      <div class="button---normal-6">{{94ftcourtrental.btnText}}</div>
    </a>
  </div>
</div>
<section class="section">
  <div class="headings-heading-1">
    <div class="follow-us-in-ig">
      <span class="headings-heading-4">#94FT on </span
      ><span class="headings-heading-5">Instagram</span>
    </div>
  </div>
  <div class="w-embed w-script">
    <script
      src="https://static.elfsight.com/platform/platform.js"
      data-use-service-core=""
      defer=""
    ></script>
    <div
      class="elfsight-app-da3b951b-6f47-4297-8246-30269d55ca74"
      data-elfsight-app-lazy=""
    ></div>
  </div>
</section>
{% endblock content %}
