{% extends "base.njk" %} {% block contentmeta %} 94 FT Player Development |
{{ title }}
{% endblock contentmeta %} {% block content %}
<div class="hero-no-image-3">
  <div
    class="image-wrapper-6"
    style="background-image: url('{{ backgroundImage }}');"
  >
    <div class="content-15">
      <div class="headings-hero-6">{{ heading }}</div>
    </div>
  </div>
</div>
<div class="w-layout-blockcontainer container-13 w-container">
  <a href="#" class="sub-button" data-ix="show-subs">
    <div class="button---normal-12" data-ix="hide-drop-in">SUBSCRIPTION</div>
  </a>
  <a href="#" class="button-drop-in" data-ix="show-drop-in">
    <div class="button---normal-10-copy" data-ix="hide-subscribe-table">
      DROP-IN
    </div>
  </a>
</div>
<div class="hero-heading-left-4">
  <div class="subscription-wrapperr">
    <h1 class="heading">{{ subscriptiontitle }}</h1>
    <div class="columns-11">
      {% for subscriptions in collections.subscriptions %}
      <div class="column-21">
        <div class="intro">
          <div class="name">
            <div class="headings-heading-31">
              {{ subscriptions.data.title }}
            </div>
            <div class="body-mini-body---normal-3">
              {{ subscriptions.data.subbody }}
            </div>
          </div>
          <a
            href="https://app.acuityscheduling.com/schedule.php?owner=25630832"
            target="_blank"
            class="button-8"
          >
            <div class="button---normal-11">SUBSCRIBE NOW</div>
          </a>
        </div>
        <div class="separator-2"></div>
        <div class="features-2">
          {% for lists in subscriptions.data.subscriptionList %}
          <div class="pricing-feature-2">
            <div class="icon">
              <div class="react-icons-md-mdoutlinecheck-2">
                <img
                  src="/assets/images/Vectors-Wrapper_33.svg"
                  loading="lazy"
                  width="11.031461715698242"
                  height="8.40999984741211"
                  alt=""
                  class="vectors-wrapper-22"
                />
              </div>
            </div>
            <div class="feature-item">
              <div class="feature-item">
                <span class="feature-item-11">{{ lists.amount }}</span
                ><span class="feature-item-9">{{ lists.duration }}</span>
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="body-mini-body---normal-6">
            {{ subscriptions.data.pricingNote }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="drop-in-wrapperr">
  <h1 class="heading">{{ dropIntitle }}</h1>
  <div class="columns-9">
    {% for drops in collections.drops %}
    <div class="column-21">
      <div class="intro">
        <div class="name">
          <div class="headings-heading-31">
            {{ drops.data.title }}
          </div>
          <div class="body-mini-body---normal-3">
            {{ drops.data.subbody }}
          </div>
        </div>
        <a
          href="https://app.acuityscheduling.com/schedule.php?owner=25630832"
          target="_blank"
          class="button-8"
        >
          <div class="button---normal-11">Drop-In</div>
        </a>
      </div>
      <div class="separator-2"></div>
      <div class="features-2">
        {% for lists in drops.data.subscriptionList %}
        <div class="pricing-feature-2">
          <div class="icon">
            <div class="react-icons-md-mdoutlinecheck-2">
              <img
                src="/assets/images/Vectors-Wrapper_33.svg"
                loading="lazy"
                width="11.031461715698242"
                height="8.40999984741211"
                alt=""
                class="vectors-wrapper-22"
              />
            </div>
          </div>
          <div class="feature-item">
            <div class="feature-item">
              <span class="feature-item-11">{{ lists.amount }}</span
              ><span class="feature-item-9">{{ lists.duration }}</span>
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="body-mini-body---normal-6">
          {{ drops.data.pricingNote }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="w-layout-blockcontainer w-container"></div>
</div>
<div class="columns-10"></div>
<div class="w-layout-blockcontainer w-container">
  <div
    id="w-node-d29f7a1f-41b6-297d-231f-d692ced65a39-c0d9767b"
    class="w-layout-layout wf-layout-layout"
  >
    {% for trainsfeatures in collections.trainsfeatures %}
    <div
      id="w-node-b2a2dd81-8c52-df55-1771-36eaee643137-c0d9767b"
      class="w-layout-cell"
    >
      <div class="metric-10">
        <img
          src="/assets/images/94FT-1-1.png"
          loading="lazy"
          width="50"
          height="50"
          alt=""
          class="_94ft-1-1"
        />
        <div class="headings-heading-30">{{ trainsfeatures.data.title }}</div>
        <div class="body-body---normal-16">
          {{ trainsfeatures.data.bodytext }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
